################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/Source/.vs/Battleship/v16/TestStore/0
obj
bin

