html, body {
	height: 100%;
	overflow: hidden;
	font-family: Quicksand;
}

body {
	background-color: lightblue;
}

h1 {
	color: #444243;
	margin: 60px 0px;
	position: relative;
	text-align: center;
	font-size: 3em;
}

div.fleet_name {
	width: 50%;
	text-align: center;
	float: left;
}

div#your_fleet {
	font-size: 2em;
}



div#enemy_fleet {
	font-size: 2em;
}

button.noBtnX {
	font-size: 16px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
}

button.noBtnY {
	font-size: 16px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
}

#BoatList h2{
	margin:10px;
}

#BoatList {
	position: static;
	margin-left: 5%;
	margin-top: 50px;
	background-color: rgb(238,203,94);
	border: 10px solid rgb(255,213,84);
	border-radius: 25px;
	font-size: 30px;
	display: inline-block;
	height: 480px;
	width: 10%;
	text-align: center;
}

.fleet input {
	outline: none;
	background-color: #1C7CC8;
	margin-top: 20px;
	width: 100px;
	border: 2px solid #46AAFF;
	font-size: 15px;
	border-radius: 25px;
	padding: 10px;
	font-family: Arial;
	position: static;
}

.fleet input:hover {
	outline: none;
	width: 110px;
	box-shadow: 2px 4px 8px gray;
}

.fleet input:focus {
	outline: none;
}

#rotate {
	outline: none;
	background-color: transparent;
}

#rotate img {
	background-color: transparent;
	border: none;
	width: 48px;
	height: 48px;
}

#rotate:focus {
	outline: none;
}

#rotate img:hover {
	width: 50px;
	height: 50px;
}

#rotate:hover {
	outline: none;
	background-color: transparent;
	opacity: 80;
}

#rotate:active {
	outline: none;
	border: none;
}

#gameboard {
	position:relative;
	float: left;
	margin:0px 50px 50px 200px;
	width:500px;
	height:500px;
}

#gameboard2 {
	position:relative;
	float: right;
	margin: 0px 250px 50px 50px;
	width:500px;
	height:500px;
}

form#reset {
	text-align: center;
	width: 50%;
}

form#reset {
	margin-top: -32px;
}
input#btnReset {
	background-color: rgb(238,203,94);
	border: 4px solid rgb(255,213,84);
	outline: none;
	width: 160px;
	font-size: 15px;
	border-radius: 25px;
	padding: 10px;
	font-family: Arial;
	position: static;
}

input#Start {
	background-color: rgb(238,203,94);
	border: 4px solid rgb(255,213,84);
	outline: none;
	margin-top: 20px;
	width: 160px;
	font-size: 15px;
	border-radius: 25px;
	padding: 10px;
	font-family: Arial;
	position: static;
	visibility: hidden;
}

input#btnReset:hover {
	outline: none;
	width: 170px;
	box-shadow: 2px 8px 16px gray;
}

input#Start:hover {
	outline: none;
	width: 170px;
	box-shadow: 2px 8px 16px gray;
}

input#btnReset:focus {
		outline: none;
}

input#Start:focus {
	outline: none;
}

.btn {
	border: 1px solid black;
}

.btnComputer {
	border: 1px solid black;
}

#gameboard button {
	float: left;
	display: inline;
	position: absolute;
	box-sizing: border-box; /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	background: transparent; /* Old browsers */
	width: 50px;
	height: 50px;
}

#gameboard2 button {
	float: left;
	display: inline;
	position:absolute;
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	background: transparent; /* Old browsers */
	width:50px;
	height:50px;
}

.CARactief {
	background-color: red !important; 
	border-color: red;
}

.BSactief {
	background-color: blue !important;
	border-color: blue;
}

.DSactief {
	background-color: yellow !important;
	border-color: yellow;
}

.SMactief {
	background-color: green !important;
	border-color: green;
}

.PBactief {
	background-color: orange !important;
	border-color: orange;
}

#your_fleet form {
	margin-top: -30px;
	width: 550px;
	text-align: center;
	float: left;
	margin-left: 200px;
	position: absolute;
}

#your_fleet form #errorBox {
	margin-top: -15px;
	font-size: 0.5em;
}

#errorBox {
	color: red;
	border: none;
	background: transparent;
}

.Hit {
	background-color: green !important;
}

.Miss {
	background-color: red !important;
}