body {
	background-color: lightblue;
}

h1 {
	margin: 60px;
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}



#gameboard {
	border: 1px solid black;
	position:relative;
	float: left;
	margin:50px 50px 50px 310px;
	width:500px;
	height:500px;
}
#gameboard2{
	border: 1px solid black;
	position:relative;
	float: left;
	margin:50px 50px 50px 200px;
	width:500px;
	height:500px;
}
#gameboard div {
	float: left;
	display: inline;
	position:absolute;
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	background: transparent; /* Old browsers */
	border: 1px solid black;
	width:50px;
	height:50px;

}
#gameboard2 div {
	float: left;
	display: inline;
	position:absolute;
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	background: transparent; /* Old browsers */
	border: 1px solid black;
	width:50px;
	height:50px;
}